---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}

	<p><a href=“https://www.flickr.com/photos/fridaycafe/“>Flickr</a> / <a href=“https://twitter.com/fridaycafe/”>Twitter</a> / <a href=“https://github.com/dangquanghieu/“>Github</a> / <a href=“http://fridaycafe.blogspot.com/“>Blog</a></p>

<p>based on <a href=“https://github.com/excentris/compass”>Compass theme</a>.</p>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
